body {
	color: white;
	background-color: red;
	margin: 0;
	display: flex;
	flex-direction: column;
}

header {
	width: 100%;
	text-align: center;
}

#start {
	display: flex;
	flex-direction: column;
}

.cards {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#results{
	background-color: black;
	color: red;
}

#first {

}

#second {

}

.poke-img {
	background-color: transparent;
	display: block;
	width: 100px;
	height: 100px;
}